{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "with-middleware": "../src"
        }
      }
    ]
  ]
}
